Checks: >
  -*,
  -abseil-*,
  -altera-*,
  -android-*,
  boost-*,
  bugprone-*,
  cert-*,
  clang-analyzer-*,
  concurrency-*,
  cppcoreguidelines-*,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -cppcoreguidelines-avoid-non-const-global-variables,
  -cppcoreguidelines-non-private-member-variables-in-classes,
  darwin-*,
  -fuchsia-*,
  -google-*,
  -hicpp-*,
  -linuxkernel-*,
  -llvm-*,
  -llvmlibc-*,
  misc-*,
  -misc-non-private-member-variables-in-classes,
  modernize-*,
  -modernize-use-auto,
  -modernize-use-trailing-return-type,
  -modernize-use-nodiscard,
  -mpi-*,
  -objc-*,
  -openmp-*,
  performance-*,
  portability-*,
  readability-*,
  -readability-function-cognitive-complexity,
  -zircon-*,
